@import '../../variables';

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .box {
    color: inherit;
    width: 140px;
    height: 90px;
    margin: 0 10px;
    display: flex;

    .icon {
      margin: auto;
    }
  }

  .box:hover {
    box-shadow: 0 0 2px 2px white
    //box-shadow: 12px 0 15px -10px white, -12px 0 15px -10px white;
  }
}