@use '../../scss/index' as *;

.process {
  display:flex;
  flex-direction: row;
  gap:20px;
  min-height: calc(100vh - $heightHeader - $heightFooter - 2 * $mainGap);
}

.process-content {
  display: flex;
  flex-direction: column;
  gap:20px;
  min-width: 900px;
}

