@use '../../scss/index' as *;

.process {
  display:flex;
  flex-direction: row;
  gap:20px;
  min-height: $heightProcess;
}

.process-content {
  display: flex;
  flex-direction: column;
  gap:20px;
  // min-width: 900px;
  // max-width: 1200px;
  width: 1200px;
}

