@import "../../variables";

.authorized-home {
    margin:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    .authorized-nav-box-outside{
        z-index: 200;
        position: fixed;
        top:0;
        left:0;
        display: flex;
        flex-direction: row;
        background-color: rgba($color: $white_m, $alpha: 0.0);
        height: calc(100vh - $heightHeader);
        
        &.open{
            height: 100vh;
            width: 100vw;
            background-color: rgba($color: $grey, $alpha: 0.5);
        }

        .authorized-nav-box{
            position: relative;
            top:calc($heightHeader);
            display: flex;
            flex-direction: row;
            background-color: $white;
            height: calc(100vh - $heightHeader);
            overflow-x: scroll;
            overflow-x: hidden;


            .authorized-nav {
                display: flex;
                flex-direction: column;
                width: 100%;
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 10px 10px;
                    li{
                        height: 50px;
                        display: flex;
                        flex-direction: row;
                        a{
                            display: flex;
                            flex-direction: row;
                            gap: 20px;
                            justify-content: flex-start;
                            align-items: center;
                            width: 100%;
                            img, svg {
                                margin: 5px;
                            }

                            .nav-box-closable{
                                display: none;
                                &.open{
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    width: 100%;
                                }

                                .expand-icon {
                                    margin-left: auto;
                                }
                            }
    
                        }
                        &:hover {
                            background-color: #fafafa;
                        }
                    }
                    .active {
                        background-color: #efefef;
                    }
                    
                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        padding:  10px;
                        width: 100%;
                        li{
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            a{
                                display: flex;
                                flex-direction: row;
                                gap: 20px;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                img, svg {
                                    margin: 5px;
                                }
            
                                .expand-icon {
                                    margin-left: auto;
                                }
                            }
                        }
                    }
                }
            }
        }

       
    }

    .authorized-home-container{
        background-color: $white;
        width: 80%;
        height: calc(100vh - $heightHeader - 2*20px);
        overflow-x: scroll;
        overflow-x: hidden;
        display: flex;
    }
}