@use '../../../scss/index' as *;

.filter{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
    // overflow-y:  scroll;
    overflow-x:  hidden;
    
    &.closed{
        width: auto;
    }
    &.open{
        width: 18%;
    }
}

.filter-category-card {
    background-color: $white;
    // border: 1px solid grey;
    padding: 5px;
    border-radius: $borderRadius;
}

.filter-category-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-headline{
    margin: 0;
}

.filter-item{
    display: flex;
    flex-direction: column;
}
.filter-item-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    h3{
        margin: 0;
    }
}

.filter-hr{
    margin: 0;
    padding: 0;
    border:none;
    &.large{
        border-bottom: 2px solid $grey;
    }
    &.small {
        border-bottom: 1px solid $grey_m;
    }
}

.filter-item-option{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
    gap: 10px;

    h4{
        margin: 0;
    }
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-top: auto;
    gap: 20px;
}

.filter-number-input {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    
}

.filter-item-content{
    display: flex;
    justify-content: center;
}

input.f-input-date{
    margin: 5px 0;
    padding:5px 10px;
}
select.f-input-select {
    margin: 5px 0;
    padding:5px 10px;
}
input.f-input-number  {
    margin: 5px 0;
    padding:5px 10px;     
}
input.f-slider-input-number  {
    margin: 5px 0;
    padding:5px 2px;     
}
select.f-slider-input-select  {
    margin: 5px 0;
    padding:5px 2px;     
}
input.f-input-text {
    margin: 5px 0;
    padding:5px 2px; 
    width: 100%;
}
textarea.f-input-textarea {
    margin: 5px 0;
    padding:5px 2px; 
    resize: vertical;
    width: 100%;
    max-height: 500px;
}
input.f-input-color {
    margin: 5px 0;
    padding:0; 
    width: 100%;
}
input.f-input-number {
    margin: 5px 0;
    padding:0; 
    width: 100%;
    text-align: center;
}