@use '../../../../scss/index' as *;

.wizard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.wizard-card {
  display: flex;
  flex-direction: row;
  gap:10px;
  padding: 5px 10px;
  color: $textPrimary;
  &:hover {
    background-color: $white_hover;
    cursor: pointer;
  }
}

.wizard-card-text{
  display: flex;
  flex-direction: column;
}


.wizard-card-hr {
  border: none;
  border-top: 1px solid $black;
}