@use "../../scss/index" as *;

.popup {
    &.open {
        position: fixed;
        top: 0;
        left:0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &.closed {
        height: fit-content;
        width: fit-content;
    }
}
.popup-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    padding:40px;
    border-radius: 20px;
}
.popup-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}