@use "../../scss/index" as * ;
$cardWidth : 400px;
$gap:50px;  
$cardsGap:20px;
// $cardsPerRow: 2;

@mixin content($cardsPerRow) {
  width: calc(($cardsPerRow * $cardWidth) + ($cardsGap * ($cardsPerRow - 1)) );
}

.card-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: $containerGap;
  &.row-1 {
    $cardsPerRow: 1;
  }
  &.row-2 {
    $cardsPerRow: 2;
  }
  &.row-3 {
    $cardsPerRow: 3;
  }
}
  

.card-view-row {
  display: flex;
  flex-direction: row;
  gap:$gap;
  width: 100%;
}

@media only screen and (max-width: 1700px) {
  .card-view-row {
    flex-direction: column;
    width: 100%;
  }
}

.card-view-column {
  display: flex;
  flex-direction: column;
  gap:$gap;
  width: 100%;
  align-items: center;
}

.card-view-group {
  // width: calc(($cardsPerRow * $cardWidth) + ($cardsGap * ($cardsPerRow - 1)) );
  @include content(2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: $cardsGap;

  &.row-1{
    @include content(1);
  }
  &.row-2{
    @include content(2);
  }
  &.row-3{
    @include content(3);
  }
}

.card {
  width: $cardWidth ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;  
  background: $white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: $borderRadius;

  &:hover {
    cursor: pointer;
    background-color: $white_m;
  }
}