@use '../../scss/index' as *;


.account {
    display: flex;
    gap:10px;
    flex-direction: column;
    padding: 50px;
    align-items: left;
    max-width: 1800px;    
    background-color: $white;
}