@import "../variables";

.process-content-box {
  color: $textPrimaryInverted;
  background-color: $darkGrey;
  padding: $containerPadding;
  width: $widthProcessContent;
  height: 100%;

  &.full-width {
    width: 100%;
  }

  .process-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .next-button {
      padding: 10px 20px;
      margin-bottom: $containerGap;
      border-radius: $borderRadius;
      font-size: 1.2em;
      font-weight: 500;
      margin-left: auto;

      &:hover {
        box-shadow: 0 0 0 2px $colorLight;
        cursor: pointer;
      }
    }

    .headline {
      padding: 10px 40px;
      margin-bottom: 10px;
      border-radius: $borderRadius;
      font-size: 1.2em;
      font-weight: 500;
    }

    .error {
      padding: 10px 20px;
      margin-bottom: 10px;
      border-radius: $borderRadius;
      width: 80%;
      font-size: 1.2em;
      font-weight: 500;
      background-color: lightcoral;
    }

    .file {
      margin: 5px 0;
      padding: 10px;
      border-radius: $borderRadius;
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .canvas {
        width: 100px;
        height: 100px;
        border: 2px solid $textPrimaryInverted;
        border-radius: $borderRadius;
        overflow: clip;
        display: flex;
        justify-content: center;
      }

      .delete-button {
        margin-left: 15px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .upload {
      margin: 10px 0;
      padding: 10px;
      border-radius: $borderRadius;
      width: 90%;

      .header {
        font-size: 1.2em;
        font-weight: 600;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .catalog-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .filter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 5px solid $colorLight;
        margin-bottom: $containerGap;

        .filter-text {
          font-weight: 600;
          font-size: 15px;
          width: 21%;
          border-radius: $borderRadius $borderRadius 0 0;
          padding: 15px 0 10px 0;
          background-color: $lightGrey;
          color: $textPrimary;

          &.active {
            color: $textPrimaryInverted;
            background-color: $colorLight;
          }

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 0 2px $colorLight;
          }
        }
      }

      .user-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: $containerGap;

        .input-field {
          border-radius: $borderRadius;
          border: none;
          margin-right: 5px;
          width: 76%;
          height: 40px;
          padding-left: 15px;
          font-size: 1.15em;
        }
        .settings {
          width: 12%;
        }
        .search {
          width: 12%;
        }
      }
    }

    .content-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin: 10px 20px 20px;
      padding: 20px;
      width: 100%;
      gap: 20px;

      &.slim {
        margin: 5px 10px 10px;
        padding: 10px;
      }
      &.wrap {
        flex-wrap: wrap;
      }
      &.column {
        flex-direction: column;
      }
      &.row {
        flex-direction: row;
      }
      &.box {
        background-color: $textSecondaryInverted;
        color: $textPrimary;
        border-radius: $borderRadius;
      }

      .input-headline {
        padding: 10px 10px;
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: 600;
      }

      .input-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        border-radius: $borderRadius;
        padding: 15px;

        .input-checkbox {
          height: 35px;
          width: 35px;
          border: none;
        }
        .input-number {
          height: 35px;
          width: 70px;
          border-radius: $borderRadius;
          margin: 0 20px;
          border: none;
          text-align: center;
        }
        .input-text {
          height: 35px;
          width: 500px;
          border-radius: $borderRadius;
          padding-left: 10px;
          border: none;
        }
        .input-selection {
          height: 35px;
          border-radius: $borderRadius;
          padding-left: 10px;
          border: none;
        }
      }
    }

    .content-box {
      background-color: $white;
      border-radius: $borderRadius;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;

      &:not(:last-child) {
        margin-bottom: $containerGap;
      }
    }
  }
}

.iconButton {
  color: $white;
  border-radius: $borderRadiusButton;
  height: 20px;
  width: 20px;
  margin: 3px;
  padding: 2px;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px $colorLight;
  }
  &.close {
    background-color: $colorLightComplementary;
  }
  &.minimize {
    background-color: $colorNormalComplementary;
  }
}
