.lds-circle {
  transform: translateZ(1px);
}
.lds-circle > div {
  animation: lds-circle 10s linear infinite;
}
@keyframes lds-circle {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(800deg) ;
  }
  100% {
    transform: rotateX(1000deg) ;
  }
}