@use '../../../scss/index' as *;


.account {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: left;
    max-width: 1800px;    
    background-color: $white;
}