@use '../../scss/index' as *;

.flex-container-card {
  a {
    height: 96px;
    color: inherit;
    margin-top: 20px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    border-radius: 10px;
  }

  a:hover {
    //border: 2px solid white;
    box-shadow: 0 0 7px 2px white;
  }

  .mui-icon {
    margin: 20px;
  }

  .card-text {
    width: 370px;
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 1300px) {
  .flex-container-card .card-text {
    width: 100%;
    font-size: 25px;
  }

  @media (max-width: 550px) {
    .img-workflow,
    .flex-container-card .mui-icon {
      display: none;
    }

    .flex-container-card .card-text {
      font-size: 20px;
    }
  }
}
