@use '../../scss/index' as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap:$containerGap;
}

.home-headline {
  width: 100%;
  text-align: center;
  margin: 0;
  padding : 10px;
}

.home-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 100px;
}

@media only screen and (max-width: 1500px) {
  .home-box {
    flex-direction: column;
  }
}

.home-card-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  padding: 0px;
  gap: 15px;
}

.home-card-box-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  width: 700px;
  height: 80px;
  background: $white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.home-card-box-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.home-card {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;  
  background: $white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  &:hover {
    cursor: pointer;
    background-color: $white_m;
  }
}


.home-card-popup {
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
}

.home-card-popup-headline {
  padding: 20px;
  gap: 20px;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.home-card-popup-cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.home-card-popup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 300px;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    background-color: $white_m;
  }
}
