@use '../../../scss/index' as *;

.orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - $heightHeader - 2*20px);
    width: 100%;
    gap: $containerGap;
    overflow-x: scroll;
    overflow-x: hidden;
}

h1.orders-headline {
    background-color: $white;
    width: 100%;
    height: $heightHeadline;
    padding: 10px 0;
    text-align: center;
}

ul.order-list {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

li.order{
    width: 100%;
    background-color: $white;
    margin: 0;
    padding: 20px;
    gap:20px;
    display: flex;
    flex-direction: column;
    &.empty{
        text-align: center;
    }
}

section.order-section{
    margin: 0;
    padding: 0;
    gap:10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    list-style: none;

    &.header {
        gap:10%;
    }
    &.models, &.manufacturer {
        flex-direction: column;
    }
    &.buttons{
        justify-content: center;
    }

    h2{
        font-size:1.2em;
    }
}

.order-process-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;

}

.order-process-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    border: 1px solid $grey;
    border-radius: $borderRadius;
    overflow: hidden;
    align-items: center;
    img.order-process-item-img{
        width: 100%;
    }
}

.order-manufacturer-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;

}

.order-manufacturer-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    border: 1px solid $grey;
    border-radius: $borderRadius;
    overflow: hidden;
    align-items: center;
    img.order-manufacturer-item-img{
        width: 100%;
    }
}