@import "../../../../scss/index";

.status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    
    &.untouched {
      background-color: grey;
    }
    &.ok {
      background-color: green;
    }
    &.error {
      background-color: red;
    }
    &.missing {
      background-color: yellow;
    }
  }
  
  .status-icon-img{
    width: 10px;
    height: 10px;
  }