@use '../../scss/index' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $heightHeader;
  margin:0;
  padding: 0 15px;
}

.kiss-logo {
  display: flex;
  align-items: center;
  font-size: $heightHeader - 5px;
  color: inherit;
  text-decoration: none;
  gap:5px;
  border-radius: 5px;
  padding: 0 10px;
  &:hover {
    cursor: pointer;
    background-color: #ebebeb;;
  }
}

.kiss-logo-img {
  max-height: $heightHeader - 18px;
}

.kiss-logo-name {
  font-size: 0.9em;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap:15px;
  margin: 0;
  padding: 0;
}

.nav-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  &:hover {
    background-color: #ebebeb;
    cursor: pointer;
  }
  &.menu-item {
    width: 100%;
  }
}

.nav-list-item-link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.language-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-menu-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:5px;
  position: absolute;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 5px;
  padding: 5px;
  top: 40px;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.menu-blank {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.menu-dropdown {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:5px;
  position: fixed;
  background-color: $white;
  border: 1px solid $grey;
  padding: 5px;
  top: 0;
  right: 0;
  height: 100vh;
  width: fit-content;
}