@use '../../../scss/index' as *;

.model-upload {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:20px;
  background-color: $white;
  justify-content: center;
  align-items: center;
}

.model-upload-card {
  max-width: 700px;
  background-color: $white_hover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
  padding: 20px;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    background-color: $white_m;
  }
}

.model-upload-files {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap:20px;
  justify-content: center;
  align-items: center;
}

.model-upload-file{
  border-radius: 20px;
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
  background-color: $white_hover;
}
.model-upload-file-row{
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items: center;
  justify-content: center;
}

.model-delete-icon {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: red;
  }
}

.model-upload-icon {
  width: 100px;
  height: 100px;
}

.model-upload-button{ 
  width: fit-content;
  padding: 10px;
}

.drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.model-catalog {
  max-width: 1200px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:$modelCatalogGap;

  &.list{
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.model-card {
  width: calc((100% / $modelCatalogRowCount) - (($modelCatalogGap * ($modelCatalogRowCount - 1)) / $modelCatalogRowCount));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  gap:8px;
  border-radius: 20px;
  padding: 0 0 10px 0;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    background-color: $white_hover;
  }
  &.list {
    gap:20px;
    width: 100%;
    height: 200px;
    flex-direction: row;
    padding: 0 10px 0 0;
    justify-content: flex-start;
  }
}

.model-card-specs {
  display: flex;
  flex-direction: column;
  gap:$modelCatalogGap;
}

.model-card-img {
  width: 100%;
  &.list {
    height: 100%;
    width: auto;
  }
}

.model-card-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
  &.list {
    flex-direction: column;
  }
}

.model-card-tag {
  border-radius: 20px;
  background-color: $white_hover;
  border: 1px solid $grey;
  padding: 4px 12px;
}

.model-view {
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
}

.model-view-img {
  width: 100%;
}

.model-view-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
}

.model-view-tag {
  border-radius: 20px;
  background-color: $white_hover;
  border: 1px solid $grey;
  padding: 4px 12px;
}