@use '../../../scss/index' as *;

.drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.model-cards {
  height: calc(100vh - $heightHeader - $heightWizard - $heightHeadlineSearch - 4*$containerGap);
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px;
}
.model-card {
  display: grid;
  background-color: $white;
  text-align: center;
  align-items: center;
  justify-content: center;
  
  &.list{
    gap: 10px;
    width: 100%;
    grid-template-areas: 
    "img header       header  header"
    "img description_short  description_long   buttons";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
  }

  &.grid{
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    width: calc(25% - 15px);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-areas: 
    "header"
    "img"
    "description_short"
    "buttons";
    flex-shrink: 0;

    &.expanded {
      // height: auto;
      grid-template-rows: 1fr 3fr 1fr 2fr 1fr;
      grid-template-areas: 
      "header"
      "img"
      "description_short"
      "description_long"
      "buttons";
    }
  }
}

.model-card-img {
  grid-area: img;
  width: 100%;
}

.model-card-headline {
  grid-area: header;
  margin: 2px 0;
  font-size: 1.5rem;
}

.model-card-description-short{
  grid-area:  description_short;
}

.model-card-description-long {
  margin: 1px 0;
  transition: height 2000ms ease-in-out;
  grid-area: description_long;

  &.hidden{
    display: none;
  }

  &.expanded{
    height: 100%;
    overflow: visible;
  }
}

.model-card-buttons {
  grid-area: buttons;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
