@use '../../../scss/index' as *;


  .wizard-card {
    padding: 5px 10px;
    background-color: $white;
    color: $textPrimary;
    border-radius: $borderRadius;
    transition: filter 100ms;

    .wizard-card-line {
      height: 3px;
      background-color: $black;
      visibility: hidden;
      margin: 0;

      &.active {
        visibility: visible;
      }
    }

    &:hover {
      cursor: pointer;
      filter: brightness(0.95);
    }
  }

