@use '../../../scss/index' as *;

.wizard {
  padding: 10px 5px 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
}

.wizard-card {
  padding: 5px 10px;
  color: $textPrimary;
  &:hover {
    background-color: $white_hover;
    cursor: pointer;
  }
}

