@use '../../../scss/index' as *;

.material-cards {
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  color: $textPrimary;
}

.material-card {
  display: grid;
  background-color: $white;
  text-align: center;
  gap: 10px;
  align-items: center;
  justify-content: center;

  &.list{
    width: 100%;
    grid-template-areas: 
    "img header       header  header"
    "img specs  price   buttons";
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &.grid{
    width: calc(25% - 15px);
    grid-template-areas: 
    "header"
    "img"
    "specs"
    "price"
    "buttons";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr 1fr 1fr;
  }
}

.material-card-image {
  object-fit: cover;
  grid-area: img;
  height: 100%;
  width: 100%;
}
.material-card-header {
  grid-area: header;
  margin: 0;
  font-weight: 600;
  font-size: 1.4rem;

}
.material-card-specs {
  grid-area: specs;
}
.material-card-price {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
  grid-area: price;
}
.material-card-buttons {
  
  grid-area: buttons;
}
