@use "./../../scss/index" as *;

.footer {
    width: 100%;
    background-color: $white;
}

.footer-list {
    margin: 0;
    padding:0;
    gap:20px;
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

.footer-list-item {
    margin: 0;
    padding:20px;
    a:hover{
        color: $colorDark;
    }

}

.footer-list-item-link {
    padding: 20px 30px;
}