@import "../../variables";

.home {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: $containerGap;
  display: flex;
  flex-direction: column;
  gap:$containerGap;
}

.home-headline {
  width: 100%;
  text-align: center;
  margin: 0;
  padding : 10px;
  background-color: $white;
}

.home-box {
  width: 100%;
  // height: calc( 100vh - $heightHeader - $heightHeadline - 3 * $containerGap);
  height: fit-content;
  padding: $containerGap 0;
  gap:$containerGap;
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.home-hr {
  border: none;
  border-bottom: 1px solid $grey;
  width: 80%;
}

.home-card {
  border: 1px solid $grey;
  padding: 10px;
  width: 50%;
  text-align: center;
}
