@use '../../scss/index' as *;

.guide {
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    margin: 0 auto;
    gap:$containerGap;
    margin-top: $containerGap;
}


.guide-question {
    display: flex;
    flex-direction: column;
    gap:$containerGap / 2;

    &.passiv {
        filter: opacity(0.5)
    }
}


.guide-question-headline {
    background-color: $white;
    text-align: center;
    padding: 10px;
}

.guide-question-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: $containerGap;
    background-color: $white;
    padding: 10px;
}

.guide-question-option {
    padding: 10px 50px;
    &:hover {
        background-color: $white_m;
        cursor: pointer;
    }
    &.selected {
        border: 1px solid $grey;
    }
}