@use '../../scss/index' as *;

$cardWidth : 250px;
$cardAnswerWidth : fit-content;
$gap:50px;  
$cardsGap:20px;
$cardsAnswerGap:4px;
@mixin cardContent($cardsPerRow) {
    width: calc(($cardsPerRow * $cardWidth) + ($cardsGap * ($cardsPerRow - 1)) );
}

.guide-answers {
    display: flex;
    flex-direction: column;
    background-color: $white_hover;
    padding:40px;
    border-radius: $borderRadius;;
    gap:10px;
    max-height: 750px;
    overflow-x: hidden;
    overflow-y: auto;
}

.guide-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white_hover;
    padding:40px;
    border-radius: $borderRadius;
    gap:20px;
}

.guide-overview{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white_hover;
  padding: 40px ;
  border-radius: $borderRadius;
  gap:20px;
}

.guide-overview-question {
  padding:10px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.guide-question-headline {
    background-color: $white;
    text-align: center;
    padding: 10px;
}

.guide-question-cards {
    display: flex;
    padding: 0px;
    
    &.question {
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      @include cardContent(2);
      gap: $cardsGap;
    }

    &.overview {
      align-self: center;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: $cardsGap;
    }
    
    &.answer{
      flex-direction: column;
      gap: $cardsAnswerGap;
    }
}

.guide-question-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;  
  border-radius: $borderRadius;
  
  &.question {
    width: $cardWidth;
    justify-content: center;
    background: $white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
  }
    
  &.answer{
    width: $cardAnswerWidth ;
    justify-content: flex-start;
    padding: 0 10px 0 0;
  }

  &.overview{
    width: fit-content;
    justify-content: center;
    padding: 0 10px 0 0;
  }

  &:hover {
    cursor: pointer;
    background-color: $white_m;
  }
}

.guide-question-error {
  color: red;
}

.guide-question-buttons {
  display:flex;
  flex-direction: row;
  gap:$gap;
  justify-content: center;
  align-items: center;
}