@use '../../../../scss/index' as *;

.process-cart {
    display: flex;
    flex-direction: row;
    gap:20px;
}

.process-cart-item {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    background-color: $white;
    border-radius: 5px;
    height: 50px;

    &.active {
        padding-bottom: 20px;
        height: 65px;
        border-radius: 5px 5px 0 0 ;
    }

    &:hover {
        cursor: pointer;
        background-color: $white_hover;
    }
}

.process-cart-icons {
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    justify-content: center;
}

.process-cart-icon { 
    padding:0;
    margin: 0;
    height: 15px;
    width: 15px;
}
