/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: PTSans;
        src: url(/assets/fonts/PTSans-Regular.ttf) format("truetype");
    }
    @font-face {
        font-family: PTSans;
        font-style: italic;
        src: url(/assets/fonts/PTSans-Italic.ttf) format("truetype");
    }
    @font-face {
        font-family: PTSans;
        font-weight: 700;
        src: url(/assets/fonts/PTSans-Bold.ttf) format("truetype");
    }
    @font-face {
        font-family: PTSans;
        font-weight: 700;
        font-style: italic;
        src: url(/assets/fonts/PTSans-BoldItalic.ttf) format("truetype");
}
    .bezier {
        transition-timing-function: cubic-bezier(.645,.045,.355,1);
    }
}

@layer components {

}

@layer utilities {
}