@import "./variables.scss";

h1, h2, h3, hr{
  margin: 0;
  padding: 0;
}

.App {
  padding-top: $heightHeader;
}

.main-header {
  background-color: $white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex-container {
  display: flex;

  &.column {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;
  }
}

.process-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: $containerGap;
}

.light {
  background-color: $colorLight;
}
.normal {
  background-color: $colorNormal;
}
.dark {
  background-color: $colorDark;
}
.grey {
  background-color: $grey;
}
.button {
  border-radius: $borderRadiusButton;
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px $white;
    width: 40%;
  }
}

.pointer:hover {
  cursor: pointer;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  