$colorLight: #43bbc2;
$colorNormal: #2773bb;
$colorDark: #064ea1;

$colorLightComplementary: #bc443d;
$colorNormalComplementary: #d88c44;
$colorDarkComplementary: #f9b15e;

$white: #ffffff;
$lightGrey: #dbdbdb;
$grey: #a3a3a3;
$darkGrey: #4d4d4d; //#626262;
$black: #000000;

$textPrimary: $black;
$textSecondary: $darkGrey;
$textPrimaryInverted: $white;
$textSecondaryInverted: $lightGrey;

$backgroundBody: linear-gradient(
  180deg,
  rgba(6, 78, 161, 0.65) 0%,
  rgba(249, 177, 94, 0.65) 100%
);
$backgroundBodyBox: #4d4d4d;

$heightHeader: 50px;
$widthProcessContent: 75%;
$borderRadius: 5px;
$borderRadiusButton: 5px;
$containerGap: 20px;
$containerMargin: 20px;
$containerPadding: 20px;
