$colorLight: #43bbc2;
$colorNormal: #2773bb;
$colorDark: #064ea1;

$colorLightComplementary: #bc443d;
$colorNormalComplementary: #d88c44;
$colorDarkComplementary: #f9b15e;

$white: #ffffff;
$white_m: #DFDFDF;
$white_mm: #C0C0C0;
$grey_p: #A0A0A0;
$grey: #7F7F7F;
$grey_m: #606060; //#626262;
$black_pp: #404040;
$black_p: #202020;
$black: #000000;

$textPrimary: $black;
$textSecondary: $black_pp;
$textPrimaryInverted: $white;
$textSecondaryInverted: $white_mm;

$backgroundBody: $white_m;
$backgroundBox: $white;

$heightHeader: 50px;
$widthProcessContent: 75%;
$borderRadius: 5px;
$borderRadiusButton: 20px;
$containerGap: 20px;
$containerMargin: 20px;
$containerPadding: 20px;
