$colorLight:  #43BBC2;
$colorNormal: #2773BB;
$colorDark:   #064EA1;

$colorLightComplementary:  #BC443D;
$colorNormalComplementary: #D88C44;
$colorDarkComplementary:   #F9B15E;

$white:     #FFFFFF;
$lightGrey: #DBDBDB;
$grey:      #A3A3A3;
$darkGrey:  #4D4D4D;//#626262;
$black:     #000000;

$textPrimary:       $black;
$textSecondary:     $darkGrey;
$textPrimaryInverted:     $white;
$textSecondaryInverted:   $lightGrey;

$backgroundBody: linear-gradient(180deg, rgba(6, 78, 161, 0.65) 0%, rgba(249, 177, 94, 0.65) 100%);
$backgroundBodyBox: #4D4D4D;

$heightHeader: 50px;
$widthProcessContent: 75%;
$borderRadius: 5px;
$borderRadiusButton: 5px;
$containerGap: 20px;
$containerMargin: 20px;
$containerPadding: 20px;