$heightHeader: 50px;
$heightBreadcrumb: 25px;
$heightWizard: 50px;
$heightHeadline: 50px;
$heightHeadlineSearch: 100px;
$heightBottomButtons:50px;
$heightFooter: 50px;


$widthProcessContent: 75%;

$borderRadius: 5px;
$borderRadiusButton: 20px;

$containerGap: 20px;
$containerMargin: 20px;
$containerPadding: 20px;
$mainGap:20px;

$modelCatalogRowCount: 4;
$modelCatalogGap:$containerGap;


$heightProcess: calc(100vh - $heightHeader - $heightBreadcrumb - $heightFooter - (3 * $mainGap));