$heightHeader: 50px;
$heightWizard: 50px;
$heightHeadline: 50px;
$heightHeadlineSearch: 100px;
$heightBottomButtons:50px;
$widthProcessContent: 75%;
$borderRadius: 5px;
$borderRadiusButton: 20px;
$containerGap: 20px;
$containerMargin: 20px;
$containerPadding: 20px;
